@use '../utils/variables' as *;
@use '../utils/mixins' as *;

@media screen and (max-width: 769px) {
  .projects.projects__small {
    .project-list {
      @include flex(column, unset, center);
      width: 95vw;

      .project {
        width: 95vw;
        margin-bottom: 20px;

        .overlay {
          width: 95vw;
        }
      }
    }
  }
}

.projects {
  @include flex(column, unset, center);
  padding: 10px 0px 30px 0px;
  background-color: $base-color;
  width: 100vw;

  h2 {
    color: $secondary-color;
    margin-bottom: 10px;
  }

  .button {
    font-size: 16pt;
    border-radius: 5px;
    border-style: none;

    &__primary {
      background-color: $primary-color;
      color: white;

      &:hover {
        background-color: lighten($primary-color, 10%);
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
      }
    }

    &__big {
      padding: 10px;
      margin-top: 0.83em;
    }
  }

  .project-list {
    @include flex(row, space-between);
    width: calc(100vw - 20%);
    justify-self: center;

    .project {
      width: 25vw;
      height: 600px;
      display: inline-block;
    }

    .image {
      object-fit: cover;
      filter: grayscale(1) opacity(30%);
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      width: 25vw;
      height: 600px;
      background-color: $secondary-color;
      z-index: 1;
      align-content: center;
      justify-items: center;

      &:hover {
        background-color: $secondary-color-transparent;
        text-shadow: 2px 2px 3px $primary-color;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
      }

      h3 {
        color: white;
        opacity: 100%;
      }

    }
  }
}